@import "bourbon/bourbon";

$grey: #333;
$accent: #d24335;

$member: darken(#898989, 10%);
$online: darken(#66c0f4, 10%);
$playing: darken(#90ba3c, 10%);

$main_font: "Inconsolata", "Consolas", monospace;
$accent_font: Geo, $main_font;

@import "reset";

html, body {
	position: relative;
	height: 100%;
	width: 100%;
}

body > header, section {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
}

body > header {
	height: 100%;
	border-bottom: rem(4) solid #efefef;
}

section {
	min-height: 25%;
	padding: rem(50);
	align-items: center;

	p {
		display: inline-block;
		text-align: center;
		padding: rem(20);

		span {
			display: block;
			font-size: rem(14);
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	div {
		text-align: center;
	}

	div:first-of-type p {
		font-size: em(64);
		font-weight: 700;

		&:nth-of-type(1) {
			color: lighten($member, 10%);
		}

		&:nth-of-type(2) {
			color: lighten($online, 10%);
		}

		&:nth-of-type(3)  {
			color: lighten($playing, 10%);
		}
	}

	a {
		background: transparent;
		border: rem(2) solid $accent;
		padding: rem(10) rem(40);
		border-radius: rem(4);

		&:hover {
			background: rgba($accent, .25);
			@include transition-property(background);
		}

		&:active {
			background: rgba($accent, .1);
		}
	}
}

h1 {
	width: 100%;
	text-align: center;
	font-family: $accent_font;
	font-style: italic;
	font-size: em(56);
	line-height: 1.618;
}

canvas {
	height: rem(8);
	max-width: 100%;
}

footer p {
	background-color: #efefef;
	border-bottom: rem(1) solid #ddd;
	border-top: rem(1) solid #ddd;
	color: lighten($grey, 25%);
	font-size: em(14);
	padding: rem(20) 0;
	text-align: center;
}
